@(entries: List[Entry])

@**********************************
* Helper generating table headers *
***********************************@
@header(title:String) = {
    <th>@title</a></th>
}
@main {

    @if(flash.containsKey("success")) {
        <div class="alert-message success fade in" data-alert="alert">
            <strong>Done!</strong> @flash.get("success")
            <a class="close" href="#">&times;</a>
        </div>
    }
    @if(entries.size == 0) {  
	      	<div class="well">
            	<em>Nothing to display</em>
        	</div>  
    } else {
	    	<table class="computers zebra-striped">
	    		<thead>
	    			<tr>
		            	@header("Type")
		            	@header("Text")
		            	@header("Settings")
		            </tr>
		        </thead>
		        <tbody>
		        	@for(entry <- entries) {
		        		<tr>
		                    <td>@entry.entryType</td>
		                    <td>@entry.text</td>
		                    <td>@entry.settings</td>
		                </tr>
		            }
		        </tbody>
	      	</table>
	      }
	      <div class="well"><a href="@routes.Application.create()" class="btn primary">Add a new entry &raquo;</a></div>
	}